/*====================
Common Css
====================*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  line-height: 1.5em;
}
img {
  max-width: 100%;
}
a.redmore {
  background: skyblue;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  transition: 0.5s;
}
a.redmore:hover {
  background: #262626;
}
/*====================

Header Area css
=====================*/

#header_area {
  padding: 15px 0;
  box-shadow: 0 3px 10px #ddd;
}
/*================================== 
Main Menu CSS
==================================*/
#main_menu {
  width: 100%;
  clear: both;
  /*========== Drop Down Style===== 


=================================*/
}

#main_menu .inner_menu {
  background: #fff;
  position: relative;
  min-height: 30px;
  padding: 15px 0;
  border-radius: 5px;
  z-index: 1;
}

#main_menu .inner_menu:after {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  content: "";
  z-index: -1;
}

#main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#main_menu ul li {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}

#main_menu ul li a {
  color: #333333;
  display: block;
  text-decoration: none;
  padding: 4px;
}

#main_menu ul li a:hover {
  background-color: skyblue;
  color: #fff;
}

#main_menu ul li:hover a {
  color: #fff;
  background-color: skyblue;
}

#main_menu ul li:hover ul li a {
  color: white;
  background-color: black;
}

#main_menu ul ul {
  position: absolute;
  background: skyblue;
  width: 180px;
  left: -999999999999999px;
  top: 25px;
}

#main_menu ul ul li {
  display: block;
  margin: 0;
}

#main_menu ul ul li a:hover {
  background: #333333;
  color: #333333;
}

#main_menu ul ul li a:hover {
  background: #333333;
  color: #333333;
}

#main_menu ul ul li:hover a {
  background: #fff;
  color: #fff;
}

#main_menu ul ul li:hover ul li a {
  background: none;
  color: #fff;
}

#main_menu ul ul li ul li a:hover {
  background: #fff;
  color: #fff;
}

#main_menu ul ul ul {
  position: absolute;
  left: 180px;
  top: 0px;
}

#main_menu ul li:hover ul {
  position: absolute;
  background: blue;
  color: #fff;
  width: 180px;
  left: 0;
  top: 30px;
}

#main_menu ul li:hover ul ul {
  left: -9999999999999999999px;
}

#main_menu ul li:hover ul li:hover ul {
  left: 180px;
}

/*==================================
Menu Position
===================================*/

.left_menu .col-md-3 {
  order: 2;
}
.left_menu .col-md-9 {
  order: 1;
}
.left_menu .col-md-9 ul {
  text-align: left;
}
.center_menu .col-md-3 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.center_menu .col-md-3 a img {
  width: auto;
  height: 5rem;
}
.center_menu .col-md-9 {
  width: 100%;
}
.center_menu .col-md-9 ul {
  text-align: center;
}
/* #header_area .col-md-9 ul li a span{
  display: block;
} */
.walker_nav {
  display: block;
  font-size: 0.8rem;
}
a.read_more {
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.4s;
  background-color: skyblue;
  color: #fff;
  border-radius: 8px;
}
/*===========================================
  Pagenav Area Styling
===========================================*/

#page_nav p.pages {
  background: skyblue;
  color: #fff;
  padding: 5px 10px;
}
#page_nav p.pages span {
  display: inline-block;
  padding: 0 5px;
}
#page_nav .page-numbers {
  background: skyblue;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px;
  transition: 0.5s;
}
#page_nav .page-numbers.current,
#page_nav .page-numbers:hover {
  background: #262626;
}
/*===========================================
  Sibebar Area Styling
===========================================*/
.child_sidebar {
  margin-bottom: 20px;
}
.child_sidebar h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1em;
  border-left: 5px solid skyblue;
  padding-left: 10px;
}
.child_sidebar input[type="search"] {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}
.child_sidebar input[type="search"]:focus {
outline: none;
}
.child_sidebar button[type="submit"] {
  background: skyblue;
  border: 1px solid skyblue;
  padding: 10px;
  margin: 0;
  color: #fff;
  transition: 0.5s;
}
.child_sidebar button[type="submit"]:hover {
  background: #262626;
  border: 1px solid #262626;
}
.child_sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.child_sidebar ul li {
  display: block;
  margin-bottom: 5px;
}
.child_sidebar ul ul {
  display: none;
}
.child_sidebar ul li a {
  display: inline-block;
  color: #262626;
  text-decoration: none;
}
.child_sidebar ul li a:hover {
  color: skyblue;
}
.child_sidebar a.tag-cloud-link {
  color: #fff;
  background: #262626;
  display: inline-block;
  font-size: 12px !important;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 5px;
}
.child_sidebar a.tag-cloud-link:hover {
  background: skyblue;
}
/*===========================================
  Footer Area Styling
===========================================*/
#footer {
  background: #292929;
  padding: 40px 0 20px;
  color: #fff;
  border-bottom: 1px solid #ddd;
}
#footer .child_sidebar ul li a {
  color: #fff;
}
/*==================================
Copy right area
===================================*/
#copyright_area{
background-color: #292929;
padding: 20px 0 ;
color: #fff;
text-align: center
}
#copyright_area p{
margin: 0;
  color: #fff;
  font-size: 1rem;
  }
  #copyright_area p a{
      color: skyblue;
 }
 #copyright_area p a:hover{
  text-decoration:underline

}


/*=======================================
 Index Page Style
========================================*/
#body_area {
  padding: 45px 0;
}
#body_area .blog_area {
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 0px 10px #ddd;
}
#body_area .post_thumb {
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
}
#body_area .post_thumb img {
  transition: 0.5s;
  width: 100%;
  display: block;
}
#body_area .post_thumb:hover img {
  transform: scale(1.1);
}
#body_area .post_details {
  width: 100%;
}
#body_area .post_details h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#body_area .post_details h2 a {
  color: #262626;
  text-decoration: none;
  transition: 0.5s;
}
#body_area .post_details h2 a:hover {
  color: skyblue;
}

